.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(208, 255, 0);
}

.nav--bar {
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo--div {
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 70px;
}

.nav--bar--ul {
    list-style-type: none;
    display: flex;
}

.list--item {
    margin-right: 20px;
}

.main {
    width: 100%;
    height: 80vh;
}

.main--pic {
    width: inherit;
    height: inherit;
}

.footer {
    width: 100%;
    height: 300px;
    background-image: url("https://cdn.hswstatic.com/gif/why-is-sky-blue.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer--ul {
    list-style-type: none;
    display: flex;
}

.h1--div {
    margin-left: 30px;
}

.footer--list--item {
    margin-right: 35px;
}

.desti--div {
    width: 100%;
    height: 80vh;
}

a {
    text-decoration: none;
    color: blue;
}

.desti--input {
    width: 200px;
    height: 15px;
    border-radius: 5px;
    margin-left: 20px;
    z-index: 1;
    border: none;
}

.desti-place-holder--pic {
    width: 100vw;
    height: 80vh;
}

.recreation--div {
    width: 100%;
    height: 80vh;
}

.recreation--input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    bottom: -30px;
    margin-left: 20px;
    z-index: 1;
}

.recreation-place-holder--pic {
    width: inherit;
    height: inherit;
    position: relative;
    top: -30px;
}

.advice--div {
    width: 100%;
    height: 80vh;
}

.advice--input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    bottom: -3px;
    margin-left: 25px;
    z-index: 1;
}

.advice--btn {
    width: 100px;
    height: 25px;
    background-color: rgb(196, 20, 20);
    color: white;
    z-index: 1;
    position: relative;
    bottom: -30px;
}

.advice-place-holder--pic {
    width: inherit;
    height: inherit;
    position: relative;
    top: -30px;
}

.place--card {
    width: 220px;
    height: 240px;
    background-color: aquamarine;
}

.place--card--img--div {
    width: 220px;
    height: 140px;
    background-color: aqua;
}

.place--img {
    width: 220px;
    height: 140px;
}

.card--component--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card--section {
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 5px;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
    */
}

.desti--card {
    margin: 10px;
}

.whether--card {
    width: 100%;
    height: 70vh;
    background-image: url("https://images.theconversation.com/files/393210/original/file-20210401-13-z6rl6z.jpg?ixlib=rb-1.1.0&rect=0%2C292%2C3008%2C1504&q=45&auto=format&w=1356&h=668&fit=crop");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.whether--card--div {
    width: 700px;
    height: 450px;
    background: rgba(37, 183, 250, 0.3);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.weather--card--1 {
    width: 40%;
    height: 60%;
    background: rgba(94, 210, 245, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.weather--card--2 {
    width: 40%;
    height: 60%;
    background: rgba(245, 119, 239, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.attraction--card--div {
    width: 230px;
    height: 250px;
    background-color: bisque;
}

.attraction--img {
    width: 230px;
    height: 110px;
}